<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net461" />
  <package id="FSharp.Compiler.Service" version="0.0.20" targetFramework="net461" />
  <package id="FSharp.Formatting" version="2.4.0" targetFramework="net461" />
  <package id="IronPdf" version="4.4.9" targetFramework="net461" />
  <package id="Markdown" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="PDFsharp-MigraDoc-GDI" version="1.32.4334.0" targetFramework="net461" />
  <package id="RazorEngine" version="3.3.0" targetFramework="net461" />
</packages>